@import "tailwindcss";

body {
  font-family: Arial, Helvetica, sans-serif;
}

td {
  padding: 5px;
}

a, a:active, a:hover {
  text-decoration: none;
  color: black;
}

img {
  overflow-clip-margin: content-box;
  overflow: clip;
  object-fit: cover;
}